# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\UserDownLoads\BaiduNetdiskDownload\测开\讲义 软件\09、UI自动化测试及黑马头条项目实战\UI自动化测试\day16\03代码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
